.card-header .btn {
  float: inline-end;
  background: #61887e ;
  border: 1px solid rgb(153, 152, 152);
  margin-top: -5px;
}
.topbar{
  background: #61887e;
}
.text-muted{
  color: white !important;
}
.text-successf{
  padding: 4px 4px 4px 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.card-footer .btn {
  float: inline-end;
  background-color: #ff7100;
  font-size: 20px;
  border-radius: 2px;
  padding: 8px 20px 8px 20px;
}

.myadd{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

img {
  width: 100%;
  height: 100%;
}

.price {
  float: inline-end;
}

.quantity {
  padding: 0px 15px 0px 15px;

}

hr.hr {
  border-top: 3px dotted black;
}

.discount-price {
  padding: 0px 15px 0px 15px;
}

a {
  text-decoration: none;
  color: #565353
}

a:hover {
  color: #61887e;
}

.col-md-9 .card-body {
  max-height: 430px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bi-cart-x{
font-size: 200px;
}
.empty-cart{
  font-size: xx-large;
}
.btnCount{
  background: #61887e;
  color:white
}
.msg{
  color: #61887e;
}
.btn-lg{
  background: #61887e;
  color:white
}   
