<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

 <!-- <div class="main"> 
 <nav class="navbar sticky-top navbar-expand-sm">
  <div class="container-fluid">
    <span class="navbar-brand" href="javascript:void(0)" routerLink="AllProducts"><img src="../assets/images/logo/Logo.jpg" class="logoimg" alt=""></span>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <div class="dropdown">
          <button class="dropbtn"><span>Category</span></button>
           <i class="bi bi-caret-down-fill caret"></i>
          <div class="dropdown-content">
            <a routerLink="AllProducts"><i class="bi bi-arrow-right-short icon"></i>All Products</a>
            <a *ngFor="let category of categoryList" (click)="getProductByCategory(category.id)">
              <i class="bi bi-arrow-right-short icon"></i>{{category.categoryName}}</a>
          </div>
        </div>
      </ul>
     
      <div class="d-flex">
        <a class="user-reg" routerLink="user-registration">Join with Us</a> 
          <form (ngSubmit)="SearchProducts(box.value)" autocomplete="off" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search here" name="searchText" #box >
              <span class="input-group-text" (click)="SearchProducts(box.value)"><i class="bi bi-search"></i></span>
            </div>
          </form>
        <a class="bi bi-cart" *ngIf="loggedIn" routerLink="customer-cart"></a> 
        <span class="badge badge-light" *ngIf="loggedIn" >{{totalCartItems}}</span>
        <div class="dropdown">
          <i class="bi bi-person-circle"></i>
          <div class="dropdown-content" *ngIf="!loggedIn">
            <a (click)="Login()"><i class="bi bi-box-arrow-in-right fs-4 p-2"></i><span >Login</span></a>
          </div>
          <div class="dropdown-content" *ngIf="loggedIn">
            <div class="text-center mt-3 username">
              <b><i>Hello</i>, {{userName | titlecase}}</b>
            </div>
            <hr>
            <a routerLink="/customer-order"><i class="bi bi-basket icon" ></i>My Orders</a>
            <a><i class="bi bi-heart icon"></i>My Wishlist</a>
            <a routerLink="/account-profile"><i class="bi bi-person icon"></i>My Account</a>
            <a (click)="Logout()"><i class="bi bi-box-arrow-right icon"></i>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> 
</div> -->


<nav>
  <!-- Checkbox for toggling menu -->
  <input type="checkbox" id="check">

  <!-- Menu icon -->
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>

  <!-- Site logo -->
  
  <label class="logo"(click)="logoreload()"><i class="fa fa-shopping-bag"><span style="padding-left: 10px;">EasyToBuy</span></i></label>

  <!-- Navigation links -->
  <ul>  
    <li (ngSubmit)="SearchProducts(box.value)" autocomplete="off" class="form-inline" style="line-height: 80px;"><input type="text" placeholder="Search" style="width:230px; height: 32px; border: 2px solid black; margin-right: 30px; padding-left: 10px;" #box><span class="fa fa-search" (click)="SearchProducts(box.value)" style="margin-left: -55px; width: 40px; color: black; height: 30px; z-index: 1;"> </span></li>
    <li style="line-height: 80px;"><a routerLink="user-registration" style="text-decoration: underline; font-weight: 500;">Join Us</a></li>
    <li style="line-height: 80px;"><span class="badge badge-light" *ngIf="loggedIn"  style="color: black; position: absolute; z-index: 1;top: 12px; margin-left: 10px; font-size: 14px;">{{totalCartItems}}</span> <a class="bi bi-cart" *ngIf="loggedIn" routerLink="customer-cart" style="font: 20px; color: black; font-weight: 500;">Cart</a></li>
    <li style="line-height: 40px;"><a (click)="Login()" style="font-weight: 500;" ><span class="fa fa-user-circle-o" style="font-size: 22px;"></span></a>
      <ul class="dropdown" *ngIf="loggedIn">
        <li class="sub-dropt"><p style="color: white;border-bottom: 1px solid white;"><b><i>Hello</i>, {{userName}}</b></p></li>
        <li class="sub-dropt"><a routerLink="/customer-order" href="" style="color: white;"><i class="bi bi-basket icon" ></i>&nbsp; My Orders</a></li>
        <li class="sub-dropt"><a href="" style="color: white;"><i class="bi bi-heart icon"></i>&nbsp; My Wishlist</a></li>
        <li class="sub-dropt"><a routerLink="/account-profile" href="" style="color: white;"><i class="bi bi-person icon"></i>&nbsp; My Account</a></li>
        <li class="sub-dropt"><a (click)="Logout()" href="" style="color: white;"><i class="bi bi-box-arrow-right icon"></i>&nbsp; Logout</a></li>
       </ul>
    </ul>
</nav>

<div class="menu text-center " style="position:relative; padding-bottom:35px;">
      <div class="col-md-12" style=" float: left; margin-right: 20px; list-style: none; position: relative; top: 5px;">

        <div class="col-md-1">
          <a (click)="allProd()" class="cat-subcat" style="font-weight: 500; color: black; font-size: 18px;">
            All Product
          </a>
        </div>
      <div class="col-md-2" *ngFor="let category of categoryList.slice(0,5)">
        <a (click)="getProductByCategory(category.id)" class="cat-subcat" style="font-weight: 500; color: black; font-size: 18px;">
            {{category.categoryName}}
        </a>
       
      </div>
      <div class="col-md-1" style="margin-top: -6px;">
        <a style="font-weight: 500; color: black; font-size: 24px;">
            <i class="bi bi-arrow-right-square-fill" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        </a>
        
      </div>
      <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">All Categorys</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    
          <div class="row" >
            <h6 class="btn-close" data-bs-dismiss="modal" aria-label="Close" class="cat-car" routerLink="AllProducts">All Products</h6>
            <div class="col-md-12" *ngFor="let category of categoryList">
              <h6 class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="getProductByCategory(category.id)" class="cat-car">{{category.categoryName}}</h6> 
            </div>
          </div>
      
      </div>
    </div>
  </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
