<div class="main">
<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container-fluid">
    <span class="navbar-brand" href="javascript:void(0)" routerLink="AllProducts"><img src="../assets/images/logo/Logo.jpg" class="logoimg" alt=""></span>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <div class="dropdown">
          <button class="dropbtn"><span>Category</span></button>
           <i class="bi bi-caret-down-fill caret"></i>
          <div class="dropdown-content">
            <a routerLink="AllProducts"><i class="bi bi-arrow-right-short icon"></i>All Products</a>
            <a *ngFor="let category of categoryList" (click)="getProductByCategory(category.id)">
              <i class="bi bi-arrow-right-short icon"></i>{{category.categoryName}}</a>
          </div>
        </div>
      </ul>
     
      <div class="d-flex">
          <form (ngSubmit)="SearchProducts(box.value)" autocomplete="off" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search here" name="searchText" #box >
              <span class="input-group-text" (click)="SearchProducts(box.value)"><i class="bi bi-search"></i></span>
            </div>
          </form>
        <a class="bi bi-cart" *ngIf="loggedIn" routerLink="customer-cart"></a> 
        <span class="badge badge-light" *ngIf="loggedIn" >{{totalCartItems}}</span>
        <div class="dropdown">
          <i class="bi bi-person-circle"></i>
          <div class="dropdown-content" *ngIf="!loggedIn">
            <a (click)="Login()"><i class="bi bi-box-arrow-in-right fs-4 p-2"></i><span >Login</span></a>
          </div>
          <div class="dropdown-content" *ngIf="loggedIn">
            <div class="text-center mt-3 username">
              <b><i>Hello</i>, {{userName | titlecase}}</b>
            </div>
            <hr>
            <a routerLink="/customer-order"><i class="bi bi-basket icon" ></i>My Orders</a>
            <a><i class="bi bi-heart icon"></i>My Wishlist</a>
            <a routerLink="/account-profile"><i class="bi bi-person icon"></i>My Account</a>
            <a (click)="Logout()"><i class="bi bi-box-arrow-right icon"></i>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
