@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.parents{
    display:flex;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #99d6c7;
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
   
}

.container{
    max-width:600px;
}

.right-register{
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
    border:2px solid  #549181;
    box-shadow: 5px 1px 9px 4px #61887e;
}

.right-register  .title{
    font-size: 25px;
    font-weight: 500; 
    text-align: center;
    position: relative;
    color: #61887e
}
.right-register .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    margin-left: 203px;
    width: 130px;
  
}
.right-register form .user_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user_details .input_pox{
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user_details .input_pox .datails{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user_details .input_pox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.user_details .input_pox input:hover{
border-color: #549181;;
}
form .gender_details .gender_title{
    font-size: 20px;
    font-weight: 500;
}
form .gender_details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender_details .category label{
display: flex;
}
.gender_details .category .dot{
height: 18px;
width: 18px;
background: #d9d9d9;
border-radius: 50%;
margin-right: 10px;
border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
border-color: #d9d9d9;
background-color: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button .btnRegister{
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    margin-left: 135px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #549181;

}
form .button .btnRegister:hover{
    background:#549181;;
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user_details .input_pox{
        margin-bottom: 15px;
        width:100%;
    }
    form .gender_details .category{
        width: 100%;
    }
    .container form .user_details{
        max-height: 300px;
        overflow: scroll;
    }
    .user_details::-webkit-scrollber{
     width: 0;
    }
}
.parents .bar-link{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .bar-link p a{
    color: #549181;
    text-decoration: none;
    font-weight: 500;
  }
  .bar-link p a:hover{
    text-decoration: underline;
    color: #549181;;
  }
  .bi{
    margin-left: -26px;
    font-size: larger;
  }
 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}