<div class="main">
    <div class="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent px-4">
            <div class="d-flex align-items-center">
                <i class="fa fa-home success-text fs-1 me-2"></i>
                <h2 class="fs-2 m-0">Dashboard</h2>
            </div>
        </nav>
        <div>
            <div class="container-fluid px-4">
                <div class="row g-3 my-2">

                    <div class="col-md-3">
                        <div class="p-3 myCard shadow-sm justify-content-around rounded">
                            <div class="text-center">
                                <h3><i class="bi bi-shop"></i>Stores</h3>
                                <hr>
                            </div>
                            <div class="stats">
                                <span class="title">Total Stores</span><span class="count">20</span><br>
                                <span class="title">Active Stores</span><span class="count">20</span><br>
                                <span class="title">Inactive Stores</span><span class="count">20</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 myCard shadow-sm justify-content-around rounded">
                            <div class="text-center">
                                <h3><i class="bi bi-people-fill"></i>Employees</h3>
                                <hr>
                            </div>
                            <div class="stats">
                                <span class="title">Total Employees</span><span class="count">20</span><br>
                                <span class="title">Store Managers</span><span class="count">20</span><br>
                                <span class="title">Pickup Team</span><span class="count">20</span><br>
                                <span class="title">Delivery Boys</span><span class="count">20</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 myCard shadow-sm justify-content-around rounded">
                            <div class="text-center">
                                <h3><i class="bi bi-box"></i>Orders</h3>
                                <hr>
                            </div>
                            <div class="stats">
                                <span class="title">Total Orders</span><span class="count">20</span><br>
                                <span class="title">Pending Orders</span><span class="count">20</span><br>
                                <span class="title">Shipped Orders</span><span class="count">20</span><br>
                                <span class="title">Delivered Orders</span><span class="count">20</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 myCard shadow-sm justify-content-around rounded">
                            <div class="text-center">
                                <h3><i class="bi bi-currency-rupee"></i>Revenue</h3>
                                <hr>
                            </div>
                            <div class="stats">
                                <span class="title">Total Revenue</span><span class="count">20</span><br>
                                <span class="title">This Month</span><span class="count">20</span><br>
                                <span class="title">Last 6 Months</span><span class="count">20</span><br>
                                <span class="title">This Year</span><span class="count">20</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered text-center table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="7">
                                            <h4>Orders By City</h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>City</th>
                                        <th>Pending</th>
                                        <th>Shipped</th>
                                        <th>Delivered</th>
                                        <th>Total</th>
                                        <th>IsActive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ludhiana</td>
                                        <td>5</td>
                                        <td>8</td>
                                        <td>7</td>
                                        <td>20</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Amritsar</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>10</td>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered text-center table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="7">
                                            <h4>Revenue By City</h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>City</th>
                                        <th>This Month</th>
                                        <th>Last 6 Months</th>
                                        <th>This Year</th>
                                        <th>Total</th>
                                        <th>IsActive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ludhiana</td>
                                        <td>200</td>
                                        <td>500</td>
                                        <td>800</td>
                                        <td>1500</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Amritsar</td>
                                        <td>100</td>
                                        <td>500</td>
                                        <td>200</td>
                                        <td>800</td>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>