<div class="containers">
    <div class="row">
        <div [ngClass]="isSidePanelVisible ?'col-md-8' : 'col-md-12'">
            <div class="card mt-3">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6 fs-5 text-white">
                            Product List
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" (click)="openSidePanel(); addProduct()"><b>Add
                                    Product</b></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let product of productList"
                            style=" padding-bottom: calc(var(--bs-gutter-x)* .5);">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block mt-2" [src]="product.productImage"
                                    alt="Card image">
                                <div class="card-body">
                                    <div>
                                        <h6 class="card-title">{{product.productName}}
                                            <span class="edit">
                                                <i class="bi bi-pencil-square" (click)="editProduct(product)"></i>
                                            </span>
                                        </h6>
                                        <h6 class="card-title">
                                            <span class="p-1 product-price">₹{{product.priceAfterDiscount}}</span>
                                            <small class="text-muted">({{product.productWeight}})</small>
                                            <small class="text-muted"> M.R.P : <del>₹{{product.mrp}} </del></small>
                                            <span class="text-success p-1">{{product.discount}}%off</span>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="isSidePanelVisible">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-white" *ngIf="!isEdit">
                            Add Product
                        </div>
                        <div class="col-md-6 text-white" *ngIf="isEdit">
                            Update Product
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" (click)="closeSidePanel()"><b>Close</b></button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="ProductAddEdit()">
                        <input type="hidden" class="form-control" formControlName="id">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Product Name</label>
                                <input type="text" formControlName="productName" class="form-control">
                                <div *ngIf="isFormValid && controls['productName'].errors">
                                    <div *ngIf="controls['productName'].errors['required']" class="text-danger">
                                        Product name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">MRP</label>
                                <input type="number" formControlName="mrp" class="form-control" min="1"
                                    (change)="calculatePriceAfterDiscount()">
                                <div *ngIf="isFormValid && controls['mrp'].errors">
                                    <div *ngIf="controls['mrp'].errors['required']" class="text-danger">
                                        MRP is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Discount</label>
                                <input type="number" formControlName="discount" class="form-control" min="0"
                                    (change)="calculatePriceAfterDiscount()">
                                <div *ngIf="isFormValid && controls['discount'].errors">
                                    <div *ngIf="controls['discount'].errors['required']" class="text-danger">
                                        Discount is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Price After Discount</label>
                                <input type="text" formControlName="priceAfterDiscount" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Category</label>
                                <select class="form-select" formControlName="categoryId">
                                    <option *ngFor="let category of categoryList" [value]="category.id">
                                        {{category.categoryName}}
                                    </option>
                                </select>
                                <div *ngIf="isFormValid && controls['categoryId'].errors">
                                    <div *ngIf="controls['categoryId'].errors['required']" class="text-danger">
                                        Category is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Product Weight</label>
                                <select class="form-select" formControlName="productWeightId">
                                    <option *ngFor="let weight of productWeightList" [value]="weight.id">
                                        {{weight.productWeight}}
                                    </option>
                                </select>
                                <div *ngIf="isFormValid && controls['productWeightId'].errors">
                                    <div *ngIf="controls['productWeightId'].errors['required']" class="text-danger">
                                        Product weight is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Product Image</label>
                            <input type="file" formControlName="productImage" class="form-control" (change)="uploadFile($event)">


                            <div *ngIf="isFormValid && controls['productImage'].errors">
                                <div *ngIf="controls['productImage'].errors['required']" class="text-danger">
                                    Product image is required.
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Product Image</label>
                                <input type="text" formControlName="productImage" class="form-control">
                                <div *ngIf="isFormValid && controls['productImage'].errors">
                                    <div *ngIf="controls['productImage'].errors['required']" class="text-danger">
                                        Product image is required.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Description</label>
                                <textarea formControlName="productDescription" class="form-control"></textarea>
                                <div *ngIf="isFormValid && controls['productDescription'].errors">
                                    <div *ngIf="controls['productDescription'].errors['required']" class="text-danger">
                                        Description is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" formControlName="isActive" class="form-check-input">
                                <label for="">IsActive</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" formControlName="showProductWeight" class="form-check-input">
                                <label for="">Show Product Weight</label><br>
                            </div>
                        </div>
                        <div class="row text-end">
                            <div class="col-md-12 mt-2">
                                <button class="btn btn2" *ngIf="!isEdit">Save</button>
                                <button class="btn btn2" *ngIf="isEdit">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>