
.containers{
justify-content: center;
align-items: center;
min-height: 100vh;
}

.bi-pencil-square {
  font-size: larger;
  color: #3b6a5e;
}

.bi-trash {
  font-size: larger;
  color: red;
}

.product-card {
  height: 100%;
}

.bookmark {
  border: 1px solid gainsboro;
  padding: 5px;
  width: 34px;
  height: 38px;
}


.card-img-top {
  width: 50%;
}

.form-check-input {
  margin-left: 20px;
}

.btn-sm {
  color: #3b6a5e;
  background-color: white;
  margin-left: 6px;

}

.btn-sm:hover {
  color:#3b6a5e;
  background-color: white;
  margin-left: 6px;
}

.edit {
  float: inline-end;
  margin-top: -5px
}

.product-price {
  font-size: large;
}

.card-header{
  background:  #549181;
}
.btn2{
  background: #3b6a5e;
  color:white;
  float: inline-end;
}
.modal-title{
  color: #3b6a5e;
}
