<div class="containers">
    <div class="row">
        <div class="col-md-12" *ngIf="!showForm">
            <div class="card mt-3">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6 fs-5 text-white">
                            Product List
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" (click)="addProduct()"><b>Add Product</b></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let product of productList"
                            style=" padding-bottom: calc(var(--bs-gutter-x)* .5);">
                            <div class="card product-card">
                                <img class="card-img-top mx-auto d-block mt-2" [src]="baseUrl+product.productImage"
                                    width="250" height="150" alt="Card image">
                                <div class="card-body">
                                    <div>
                                        <h6 class="card-title">{{product.productName}}
                                            <span class="edit">
                                                <i class="bi bi-pencil-square" (click)="editProduct(product)"></i>
                                            </span>
                                        </h6>
                                        <h6 class="card-title">
                                            <span class="p-1 product-price">₹{{product.priceAfterDiscount}}</span>
                                            <small class="text-muted">({{product.productWeight}})</small>
                                            <small class="text-muted"> M.R.P : <del>₹{{product.mrp}} </del></small>
                                            <span class="text-success p-1">{{product.discount}}%off</span>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="showForm">

            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-white" *ngIf="!isEdit">
                            Add Product
                        </div>
                        <div class="col-md-6 text-white" *ngIf="isEdit">
                            Update Product
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" (click)="closeProductForm()"><b>Close</b></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="ProductAddEdit()">
                        <input type="hidden" class="form-control" formControlName="id">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Product Name</label>
                                <input type="text" formControlName="productName" class="form-control">
                                <div *ngIf="isFormValid && controls['productName'].errors">
                                    <div *ngIf="controls['productName'].errors['required']" class="text-danger">
                                        Product name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">MRP</label>
                                <input type="number" formControlName="mrp" class="form-control" min="1"
                                    (change)="calculatePriceAfterDiscount()">
                                <div *ngIf="isFormValid && controls['mrp'].errors">
                                    <div *ngIf="controls['mrp'].errors['required']" class="text-danger">
                                        MRP is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">Discount (%)</label>
                                <input type="number" formControlName="discount" class="form-control" min="0" max="100"
                                    (change)="calculatePriceAfterDiscount()">
                                <div *ngIf="isFormValid && controls['discount'].errors">
                                    <div *ngIf="controls['discount'].errors['required']" class="text-danger">
                                        Discount is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">Price After Discount</label>
                                <input type="text" formControlName="priceAfterDiscount" class="form-control">
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <label for="">Category</label>
                                <select class="form-select" formControlName="categoryId">
                                    <option disabled selected>--Select Option--</option>
                                    <option *ngFor="let category of categoryList" [value]="category.id">
                                        {{category.categoryName}}
                                    </option>
                                </select>
                                <div *ngIf="isFormValid && controls['categoryId'].errors">
                                    <div *ngIf="controls['categoryId'].errors['required']" class="text-danger">
                                        Category is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">Product Weight</label>
                                <select class="form-select" formControlName="productWeightId">
                                    <option disabled selected>--Select Option--</option>
                                    <option *ngFor="let weight of productWeightList" [value]="weight.id">
                                        {{weight.productWeight}}
                                    </option>
                                </select>
                                <div *ngIf="isFormValid && controls['productWeightId'].errors">
                                    <div *ngIf="controls['productWeightId'].errors['required']" class="text-danger">
                                        Product weight is required.
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="previewImage?'col-md-4':'col-md-6'">
                                <label for="">Product Image</label>
                                <input type="file" formControlName="productImage" class="form-control"
                                    accept="image/png, image/jpg, image/jpeg" (change)="uploadFile($event)">
                                <div *ngIf="isFormValid && controls['productImage'].errors">
                                    <div *ngIf="controls['productImage'].errors['required']" class="text-danger">
                                        Product image is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 mt-3" *ngIf="previewImage">
                                <img src="{{previewImage}}" style="width: 100px; height: 100px;">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Description</label>
                                <textarea formControlName="productDescription" class="form-control"></textarea>
                                <div *ngIf="isFormValid && controls['productDescription'].errors">
                                    <div *ngIf="controls['productDescription'].errors['required']" class="text-danger">
                                        Description is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <br><label for="">IsActive</label>
                                <input type="checkbox" formControlName="isActive" class="form-check-input">
                            </div>
                            <div class="col-md-2">
                                <br><label for="">Show Product Weight</label>
                                <input type="checkbox" formControlName="showProductWeight" class="form-check-input">
                            </div>
                            <div class="col-md-2">
                                <br><button class="btn btn2" *ngIf="!isEdit">Save</button>
                                <button class="btn btn2" *ngIf="isEdit">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-white">
                            Product Images
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" data-bs-toggle="modal"
                                data-bs-target="#productImagesModal"><b>Add More Images</b></button>
                        </div>
                    </div>
                </div>
                <app-product-images (childEvent)="getImagesFromChild($event)"></app-product-images>
                <div class="card-body">
                    <div class="table-responsive mt-2">
                        <table class="table table-bordered text-center table-hover">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let preview of previews; index as i" >
                                    <td>{{i+1}}</td>
                                    <td><img [src]="preview" class="preview" width="80px" height="80px" /></td>
                                    <td><i class="bi bi-trash" style="font-size: 26px;"></i></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-white">
                            Product Specifications
                        </div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#productSpecificationModal"><b>Add Specifications</b></button>
                        </div>
                    </div>
                </div>
                <app-product-specification></app-product-specification>
                <div class="card-body">
                    <div class="table-responsive mt-2">
                        <table class="table table-bordered text-center table-hover">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Speciality</th>
                                    <th>Ingredient Type</th>
                                    <th>Type</th>
                                    <th>Manufacturer</th>
                                    <th>Brand</th>
                                    <th>Origin</th>
                                    <th>Packing Type</th>
                                    <th>Ingredients</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#productSpecificationModal"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>