#parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/bal.jpg);
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.container {
    align-items:center;
}


.right-section {
    margin-block: auto;
    /* flex-grow: 1;
    align-items: center;
    justify-content: center; */
}

.login-container {
    background-color:white;
    /* background: url('https://img.freepik.com/premium-vector/man-freelancer-sits-table-cafe-working-laptop-remote-worker-drinking-beverage-coworking-space-workplace-cafeteria-restaurant_575670-1291.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais') no-repeat center center; */
    padding: 40px;
    border-radius: 15px;
    border:2px solid  #52958a;
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    color: #045c6e;
    text-align: center;
    font-weight: 600;
    margin-bottom: 35px;
}

.login-title i {
    margin-right: 10px;
    color: #045c6e;
}

.form-control1 {
    position: relative;
    margin-bottom: 30px;
}

.form-control1 i {
    position: absolute;
    left: 15px;
    top: 14px;
    color: #32495e;
}

.form-control1 input {
    width: 100%;
    max-width: 99%;
    padding: 12px 0 12px 37px;
    border-color: #cdcdcd;
    background-color: white;
    border-radius: 6px;
  
}

.form-control1 input:focus {
    outline: none;
    border: 2px solid #52958a;
}

.remember-mes{
    margin-bottom: 10px;
}

.remember-mes label {
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

.checkbox-input{
    width: 25px;
    height: 20px;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 5px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.fa.fa-google {
    background-color: #DB4437;
    color: white;
}

.fa.fa-facebook-f {
    background-color: #4267B2;
    color: white;
}

.fa.fa-twitter {
    background-color: #1DA1F2;
    color: white;
}

.fa.fa-google:hover {
    background-color: #e57373;
}

.fa.fa-facebook-f:hover {
    background-color: #5c7cfa;
}

.fa.fa-twitter:hover {
    background-color: #69c0ff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background:linear-gradient(115deg, #3995d2,#ee902b);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background:linear-gradient(123deg, #3995d2,#2da64d);
}

/*Responsive*/
@media screen and (min-width: 768px) {
    .right-section {
        display: block;
        flex: 1;
    }
}

 .register-link{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #257db8;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    font-weight: 500;
  }
  .register-link p a:hover{
    text-decoration: underline;
    color: #2e8628;
  }
 .invalid{
    border-color: red;
 }