<div id="parent">
    <div class="container">
        <div class="right-section">
            <div class="login-container">
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <h2 class="login-title"><i class="bi bi-person-circle"></i> Login</h2>
                    <div class="form-control1">
                        <i class="bi bi-person-fill"></i>
                        <input type="text" formControlName="mobile" placeholder="Enter your mobile" maxlength="10">
                        <div *ngIf="isFormValid && controls['mobile'].errors">
                            <div *ngIf="controls['mobile'].errors['required']" class="text-danger">
                                Enter your mobile number.
                            </div>
                        </div>
                    </div>
                    <div class="form-control1">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" formControlName="password" placeholder="Enter your password" maxlength="10">
                        <div *ngIf="isFormValid && controls['password'].errors">
                            <div *ngIf="controls['password'].errors['required']" class="text-danger">
                                Enter your password.
                            </div>
                        </div>
                    </div>
                    
                    <div class="remember-mes">
                        <div class="row">
                         <div class="col-md-6">
                          <input type="checkbox" id="rememberMes" class="checkbox-input"><label class="remset">Remember me</label>
                         </div>
                         </div>
                      </div>
                    
                    <div class="social-login">
                        <i class="fa fa-google social-icon"></i>
                        <i class="fa fa-facebook-f social-icon"></i>
                        <i class="fa fa-twitter social-icon"></i>
                    </div>
                    <button type="submit">Login</button>
                    <div class="register-link">
                       <p>Don't have an account? <a routerLink="/register">Register</a></p>
                      </div>
                </form>
            </div>
        </div>
    </div>
    </div>
