<div class="mains">
  <h2 style="text-align: center; color: #61887e;"> Best Products</h2>
  <div class="container-fluid mt-3" *ngIf="productList.length>0">


    <div class="wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-template class="slide" carouselSlide>
            <img src="../assets/images/offer/off2.png" height="350" class="offersale" alt="">
          </ng-template>
          <ng-template class="slide" carouselSlide>
            <img src="../assets/images/offer/off1.png" height="350" class="offersale" alt="">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div class="card-body mt-1">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of productList"
          style=" padding-bottom: calc(var(--bs-gutter-x)* .5);">
          <div class="card">
            <img class="card-img-top mx-auto d-block mt-3"
              routerLink="/product-description/{{product.id}}/{{product.variationId}}"
              [src]="baseUrl+product.productImage" height="140" alt="Card image">
            <div class="card-body">
              <div class="row mb-3 block-ellipsis">
                <p><small>{{product.productDescription}}</small></p>
              </div>
              <div class="row text-center">
                <div class="col-md-12 ">
                  <span class="spnProductPrice">₹{{product.priceAfterDiscount}}</span>
                  <span class="spnMRP" *ngIf="product.showProductWeight==true"> ({{product.productWeight}}) </span>
                  <span class="spnMRP" *ngIf="product.discount > 0"> M.R.P :<span
                      class="actualPrice">₹{{product.mrp}}</span></span>
                  <span class="discount" *ngIf="product.discount > 0">({{product.discount}}%off)</span>
                </div>
              </div>
              <div class="p-2 text-center">
                <span class="p-4"><button class="bookmark btn btn-sm" data-toggle="tooltip" title="Add to wishlist"
                    (click)="AddToWishList()">
                    <i class="bi bi-bookmark-fill"></i>
                  </button></span>
                <button class="btn btn-sm btnCount" (click)="decrement(product)">-</button>
                <span class=" p-2">{{product.quantity}}</span>
                <button class="btn btn-sm btnCount" (click)="increment(product)">+</button>
                <span class="p-4 "><button class="btn btnCart btn-sm"
                    (click)="AddToCart(product.id,product.quantity,product.variationId)"><i
                      class="bi bi-cart-fill"></i></button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="productList.length==0" class="text-center mt-5">
    <img
      src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/error-no-search-results_2353c5.png"
      class="mt-5" alt=""><br>
    <strong class="not-found">Sorry, no results found!</strong><br>
    Please check the spelling or try searching for something else.
  </div>

  <section class="Product-Description-Footer">
    <footer class="page-footer container-fluid col-md-12" style="background: #61887e;">
      <hr>
      <div class="container" style="max-width: 1240px; ">
        <div class="row" id="kkll">
          <div class="col-md-4">
            <h4 class="mmd">Help</h4>
            <ul class="quick">
              <li>Payments</li>
              <li>Shipping</li>
              <li>Cancellations & Return</li>
              <li>FAQ</li>
            </ul>
          </div>

          <div class="col-md-4">
            <h4 class="mmd">Lifestyle Store</h4>
            <ul class="quick">
              <li>Contact Us</li>
              <li>About Us</li>
              <li>sleepy-owl-premium-coffee</li>
              <li>Stories</li>
              <li>Sell With Us</li>
            </ul>
          </div>

          <div class="col-md-4">
            <h4 class="mmd">MISC</h4>
            <ul class="quick">
              <li>Online Shopping</li>
              <li>Gift Card</li>
              <li>Sitemap</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="position:relative;top:1em; margin-bottom:40px;">
        <div class="row">
          <div class="flogo">
            <img src="../assets/images/logo/Logo.jpg" class="logoimg" alt="">
          </div>
        </div>
      </div>
      <hr>
    </footer>
  </section>
</div>