<div class="container-fluid mt-3" *ngIf="productList.length>0">
  <h1 class="text-center" id="heading">Bestseller Products</h1>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3" *ngFor="let product of productList" style=" padding-bottom: calc(var(--bs-gutter-x)* .5);">
        <div class="card" >
          <img class="card-img-top mx-auto d-block mt-2" routerLink="/product-description/{{product.id}}" [src]="product.productImage" alt="Card image">
          <div class="card-body">
            <div class="row mb-3 block-ellipsis">
              <p><small>{{product.productDescription}}</small></p>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                <span class="spnProductPrice">₹{{product.priceAfterDiscount}}</span>
                <span class="spnMRP" *ngIf="product.showProductWeight==true"> ({{product.productWeight}}) </span>
                <span class="spnMRP"> M.R.P :<span class="actualPrice" *ngIf="product.discount > 0">₹{{product.mrp}}</span></span>
                <span class="discount" *ngIf="product.discount > 0">({{product.discount}}%off)</span>
              </div>
            </div>
            <div class="p-2 text-center">
              <span class="p-4"><button class="bookmark btn btn-sm" data-toggle="tooltip" title="Add to wishlist"
                  (click)="AddToWishList()">
                  <i class="bi bi-bookmark-fill"></i>
                </button></span>
              <button class="btn btn-sm btnCount" (click)="decrement(product)">-</button>
              <span class=" p-2">{{product.quantity}}</span>
              <button class="btn btn-sm btnCount" (click)="increment(product)">+</button>
              <span class="p-4 "><button class="btn btnCart btn-sm"
                  (click)="AddToCart(product.id,product.quantity)"><i class="bi bi-cart-fill"></i></button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productList.length==0" class="text-center mt-5">
  <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/error-no-search-results_2353c5.png"
    class="mt-5" alt=""><br>
  <strong class="not-found">Sorry, no results found!</strong><br>
  Please check the spelling or try searching for something else.
</div>
