<section class="Product-Image-Description">
  <div class="row" >
       <div class="col-md-1 myside">
         <ul class="thumblist2">
          <li class="imageList" >
            <img [src] = "baseUrl + ProductDescription.productImage" class="thumbimag1"  alt="" (click)="onThumbClick(ProductDescription.productImage, 0)">
        </li>
        <li class="imageList" *ngFor="let variationImg of ProductVariationImage">
            <img [src]="variationImageBaseUrl + variationImg.image" class="thumbimag1"  alt="" (click)="onThumbClick(variationImg.image, 1)">
        </li>
         </ul>
       </div>

       <div class="col-md-4 MainImage" id="myimagehover">
          <div id='lens'></div>
           <img [src]="selectedImage" alt="" class="slideshow-items active" >
           <div id='result'></div>
       </div>
       
       <div class="col-md-6 rightPannel">
        <div></div>
        <h3>{{ProductDescription.productName}}</h3>
        <p>{{ProductDescription.productDescription}}</p>
        <div class="row pt-3">
          <div class="col-md-2">
            <span class="labels1">{{ProductDescription.rating}} <span class="bi bi-star-fill"></span></span>
          </div>
          <div class="col-md-5">
           <strong><span style="font-size:20px;  color: rgb(82, 82, 82);">{{ProductDescription.totalRatingAndReviewCount}}</span> &nbsp; <button style="outline: none; border: none; background-color: white;"><span class="RatingReviewShow" style="font-weight: 500;" (click)="toggleProductsRating()"><u>Ratings & Reviews</u></span></button></strong>
          </div>
       </div>

       <div class="pt-2" > 
        <h4><strong>&#8377;{{ProductDescription.priceAfterDiscount}} &nbsp; &nbsp;</strong><span style="color: rgb(153, 152, 152); font-size: 16px;"><del>&#8377;{{ProductDescription.mrp}}</del>&nbsp;&nbsp; &nbsp; &nbsp;<span style="color: rgb(5, 118, 5); font-size: 16px; font-weight: 700;">{{ProductDescription.discount}}% off</span></span> </h4>
       </div><br>
       <h5>Pack Size</h5>
       <div class="row">
        <div class="col-md-2 sidepannels" *ngFor="let items of  ProductVariationList"> 

        <div [ngClass]="items.id == checkId  ? 'card varcard mt-2': 'card defaultcards mt-2' " (click)="getVariationDetails(items)">
         
          <div class="card-body">
         <p *ngIf="items.quantity == 1"><strong>{{items.productWeight}}</strong></p>
         <p *ngIf="items.quantity > 1"><strong>{{items.quantity}} * {{items.productWeight}}</strong></p>
         @if(items.stockQuantity == 0){
          <p class="myrate pt-1"><span style="color: red; font-weight: 500">Out of Stock</span></p>
         }
         @else{
          <p class="myrate pt-1"><span style="font-weight: 500">&#8377;{{items.priceAfterDiscount}}</span></p>
         }
        </div>

       </div>
      </div>
    </div>

      <!-- <div class="row pt-5"> 
        <div class="col-md-1">
          <strong>Delivery</strong>
        </div>
        
        <div class=" col-md-5" style="border:0px;border-bottom:1px solid #2874f0;width:40%; position:relative; left:7%;" >
          <span class="bi bi-geo-alt col-md-2" style="color:#2874f0;padding-right:4px; margin-right:0px;"></span>
          <input type="text" placeholder="PIN Code" style="border:0;  outline: none; padding-left: 5px;" class="col-md-7">
          <a href=" " class="col-md-2" style="padding-left:3px;text-decoration:none;">Check</a>
        </div>
                  
      <div id="delivery-time" style="position:relative;left:15%;">
          <h6>Delivery in 1 days | <a href="" style="color:green;text-decoration:none;">Free</a></h6>
      </div>
     </div> -->
    </div>
  </div>
</section>

<section class="ProductBuyCartButton">
  <div class="row">
    <div class="col-md-5"> <div class="imageButtons"> 
      <button class="btn1" (click)="AddToCart(ProductDescription.id, selectedVariationId)"  routerLink="customer-cart"><strong><span class="bi bi-cart-check-fill"></span> &nbsp;{{buttonText}} </strong></button>
      <button class="btn2" (click)="placeOrder()"><strong><i class="fa fa-bolt" style="font-size:1.2em;"></i> BUY NOW</strong></button>
     </div>
    </div>
  </div>
</section>

@if(this.ProductSpecification.isActive == 1) {
<section class="Products-Specification">
  <div class="row">
 <div class="col-md-5"></div>
  <div class="col-md-6 myspec" *ngIf="ProductSpecification != null">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color:#fff; border-bottom: 1px solid lightgray; padding-bottom: 10px;">
      <h4>Specifications</h4>
    </div>
    <div class="panel-body">
      <table class="table table-default">
        <tbody> 
          <tr><td class="col-md-4 tdhead">Speciality</td><td class="col-md-8 tdbot">{{ProductSpecification.speciality}}</td></tr>
          
          <tr><td class="col-md-4 tdhead">Ingredient Type</td><td class="col-md-8 tdbot">{{ProductSpecification.ingredientType}}</td></tr>
          
          <tr><td class="col-md-4 tdhead">Ingredient</td><td class="col-md-8 tdbot">{{ProductSpecification.ingredients}}</td></tr>
          
          <tr><td class="col-md-4 tdhead">Manufacturer</td><td class="col-md-8 tdbot">{{ProductSpecification.manufacturer}}</td></tr>
          
          <tr><td class="col-md-4 tdhead">Type</td><td class="col-md-8 tdbot">Fresh</td></tr>

          <tr><td class="col-md-4 tdhead">Shelf Life</td><td class="col-md-8 tdbot">{{ProductSpecification.shelfLife}}</td></tr>
         
          <tr><td class="col-md-4 tdhead">Benefits</td><td class="col-md-8 tdbot">{{ProductSpecification.benefits}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</section> 
}

<section #productsRatingDiv class="ProductsRating" *ngIf="showProductsRating">
 <div class="row">
 <div class="col-md-12">
 <div class="panel panel-default-rating">
   <div class="panel-heading" style="background-color:#fff; border-bottom: 1px solid lightgray; padding-bottom: 10px;">
     <h4 style="color: #456d63;">Rating&Review</h4>
   </div>
   <div class="panel-body">
     <div class="scrollbar-auto">
         <div class="cardb" *ngFor="let Rates of ProductRatingReview">
           <div class="col-md-12" >
             <div class="row">
             <div class="col-md-6">
               <div class="row">
               <div class="str-show">
                 <span class="Rating-star">{{Rates.rating}}<span class="bi bi-star-fill"></span></span>
               </div>
               <div class="col-md-3">
                 <h5 class="mt-2">{{Rates.reviewTitle}}</h5>
               </div>
             </div>
             <div class="col-md-12 rating-text">
               <p>{{Rates.reviewDescription}}</p>
             </div>
             </div>
             <div class="col-md-6">
               <div class="row">
               <div class="col-md-4 image-show-side">
                 <img *ngIf="Rates.productImage1 != null" [src]="reviewImage + Rates.productImage1 " class="rating-img" alt="">
               </div>
               <div class="col-md-4">
                 <img  *ngIf="Rates.productImage2 != null" [src]="reviewImage + Rates.productImage2 " class="rating-img" alt="">
               </div>
               <div class="col-md-4">
                 <img *ngIf="Rates.productImage3 != null" [src]="reviewImage + Rates.productImage3 " class="rating-img" alt="">
               </div>
             </div>
             </div>
           </div>
           </div>
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-6">
               </div>
               <div class="col-md-6">
                 <p style=" text-align: right; padding-right: 50px; color: rgb(102, 102, 102);">{{Rates.customerName}}<span style="padding-left: 20px;">{{Rates.createdDate}}</span></p>
               </div>
             </div>
           </div>
         </div>
     </div>
   </div>
 </div>
 </div>
</div> 
</section> 


@if(SliderItems.length >= 4){
 <section class="Products-Image-Slider">
  <h3 style="color: #456d63; text-align: center; padding-bottom: 15px;">Similar Products</h3>
  <div class="wrapper">
    <owl-carousel-o [options]="positinOptions">
      <ng-container>
      <ng-template class="slide" carouselSlide *ngFor="let PSlider of  SliderItems">
         <div class="card slidecards">
          <div class="card-body slideinnerbody" >
             <div class="card imgcard">
               <a href="/product-description/{{PSlider.id}}/{{PSlider.variationId}}" target="_blank">
                <img [src]="baseUrl + PSlider.productImage"  height="120">
              </a>
             </div>

             <div class="card ProDesc">
             
              <p><small>{{PSlider.productDescription}}</small></p>
              </div>

              <div class="rating-pro">
                <div class="row">
                <div class="col-md-5">
                  <span class="labels1">4.6 <span class="bi bi-star-fill"></span></span> 
                </div>
                <div class="col-md-5 peopleRatings">(73) </div>
              </div>
             </div>

              <div class="row text-center pricedetails">
                <div class="col-md-12">
                  <span class="spnProductPrice">₹{{PSlider.priceAfterDiscount}}</span>/
                  <span class="spnMRP">{{PSlider.packingMode}}</span>&nbsp;
                  <span class="spnMRP">M.R.P: <span class="actualPrice" >₹{{PSlider.mrp}}</span></span>&nbsp;
                  <span class="discount" *ngIf="PSlider.discount > 0">{{PSlider.discount}}%off</span>
                </div>
              </div>
          </div>
         </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>  
  </div>
</section> 
}

@if(DifferentProductItems != 0){
  <section class="DifferentProducts-Image-Slider">
   <h3 style="color: #456d63; text-align: center; padding-bottom: 15px; padding-top: 10px;">Different Products</h3>
   <div class="wrapper">
     <owl-carousel-o [options]="DifferentpositinOptions">
       <ng-container>
       <ng-template class="slide" carouselSlide *ngFor="let DSlider of  DifferentProductItems">
          <div class="card slidecards">
           <div class="card-body slideinnerbody" >
              <div class="card imgcard">
               <a href="/product-description/{{DSlider.id}}/{{DSlider.variationId}}" target="_blank">
                <img [src]="baseUrl + DSlider.productImage" height="120">
             </a>
              </div>
 
              <div class="card ProDesc">
              <p><small>{{DSlider.productDescription}}</small></p>
               </div>
 
               <div class="rating-pro">
                 <div class="row">
                 <div class="col-md-5">
                   <span class="labels1">4.6 <span class="bi bi-star-fill"></span></span> 
                 </div>
                 <div class="col-md-5 peopleRatings">(73) </div>
               </div>
              </div>
 
               <div class="row text-center pricedetails">
                 <div class="col-md-12">
                   <span class="spnProductPrice">₹{{DSlider.priceAfterDiscount}}</span>/
                   <span class="spnMRP">{{DSlider.packingMode}}</span>&nbsp;
                   <span class="spnMRP">M.R.P: <span class="actualPrice" >₹{{DSlider.mrp}}</span></span>&nbsp;
                   <span class="discount" *ngIf="DSlider.discount > 0">{{DSlider.discount}}%off</span>
                 </div>
               </div>
           </div>
          </div>
         </ng-template>
       </ng-container>
     </owl-carousel-o>  
   </div>
 </section> 
 }
<!-- 
<section class="Product-Description-Footer">
  <footer class="page-footer container-fluid col-md-12" style="top: 5em; height: 30vh; background: #e5e5e5; ">
    <hr>
    <div class="container" style="max-width: 1240px;">
    <div class="row" id="kkll">
      <div class="col-md-4">
        <h4 class="mmd">Help</h4>
        <ul class="quick">
          <li>Payments</li>
          <li>Shipping</li>
          <li>Cancellations & Return</li>
          <li>FAQ</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h4 class="mmd">Lifestyle Store</h4>
        <ul class="quick">
          <li>Contact Us</li>
          <li>About Us</li>
          <li>sleepy-owl-premium-coffee</li>
          <li>Stories</li>
          <li>Sell With Us</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h4 class="mmd">MISC</h4>
        <ul class="quick">
          <li>Online Shopping</li>
          <li>Gift Card</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>
    </div>
    <hr>
  </footer>
</section> -->

<script src="/assets/js/ImageMagnifier.js"></script>
