.myCard{
    border: 1px solid rgb(189, 189, 189);
    background: white;
    padding: 10px 10px 10px 10px;
    
}
.mycol{
    padding-bottom: 5px;
}

.product-Des{
    padding-left: 5px;
   
}
.order-status{
    padding-right: 3px;
    padding-left: 150px;
   
}

.reviews{
  padding-left: 70px;
  padding-bottom: 40px;
  color: rgb(11, 67, 151);
  border: none;
  background: none;
  cursor: pointer;
  
}
.reviews:hover{
  text-decoration: underline;
}

.col-md-9 .card-body {
    max-height: 552px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
  }
 
    
  .form-cmd{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: black;
  }

  .bi-calendar-check{
    font-size: 16px;
  }

.product-card{
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

.container-fluid{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-block{
    background: #61887e;
    color: white;
}
.card-header , .modal-header{
    background: #61887e;
    color: white;
}
.bi-search{
  color:#61887e;
}

a{
  color: rgb(11, 67, 151);
  text-decoration: underline;
  font-weight: 500;
}
a:hover{
  color:#61887e;
  font-weight: 500;
}
  #tracking {
    margin-bottom: 1rem;
  }
 
  .tracking-list {
    border: 1px solid #e5e5e5;
  }

.timeline{
  position: relative;
  max-width: 300px;
  max-height: 500px;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
}

.containers{
  padding: 10px 20px;
  position: relative;
  width: 94%;

}
.text-box{
  padding: 19px 10px;
  background: white;
  position: relative;
  border-radius: 6px;
  font-size: 16px;
  height: 70px;
}

.left-containers{
  left: 0;
}

.right-containers{
  left: 30%;
}
img{
  color: #618870;
}

.trac{
  position: absolute;
  border-radius: 50%;
  margin-left: -92px;
  margin-top: 10px;
}

.logo{
  font-size: 26px;
  font-weight: 600;
  color:#c0c0c0;
}

.containers img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 30px;
  z-index: 10;

}

.right-containers img{
left: -10px;
width: 20px;

}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: rgb(90, 90, 90);
  top: 0;
  left: 30%;
  margin-left: -3px;
  z-index: -1;
 
}

.timeline1::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline1 2s linear forwards;
}
.timeline2::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline2 2s linear forwards;
}

.timeline3::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline3 2s linear forwards;
}
.timeline4::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline4 2s linear forwards;
}
.timeline5::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline5 2s linear forwards;
}
.timeline6::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline6 2s linear forwards;
}
.timeLines1::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 82%;
  background: #dadada;
  top: 33px;
  left: 30%;
  margin-left: -3px;
}
.timeLines2::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 58%;
  background: #dadada;
  top: 33px;
  left: 30%;
  margin-left: -3px;
}
@keyframes moveline1 {
  0%{
      height: 0;
  }
  100%{
      height: 10%;
  }
}
@keyframes moveline2 {
  0%{
      height: 0;
  }
  100%{
      height: 32%;
  }
}
@keyframes moveline3 {
  0%{
      height: 0;
  }
  100%{
      height: 50%;
  }
}
@keyframes moveline4{
  0%{
      height: 0;
  }
  100%{
      height: 70%;
  }
}
@keyframes moveline5 {
  0%{
      height: 0;
  }
  100%{
      height: 57%;
  }
}
@keyframes moveline6 {
  0%{
      height: 0;
  }
  100%{
      height: 57%;
  }
}

.star-rating {
display:flex;
flex-direction: row-reverse;
font-size: 3em;
justify-content:space-around;
padding: 0 10px;
text-align:center;
width:7.5em;
}

.star-rating input {
display:none;
}

.star-rating label {
color:#ccc;
cursor:pointer;
}

.star-rating :checked ~ label {
color:rgb(255, 200, 0);
}

/* .star-rating label:hover,
.star-rating label:hover ~ label {
color:#fc0;
} */

.textarea-group {
margin-top:5px;

 label {
  display: block;
  width: 100%;
}

label > span {
  display: block;
  font-size: 0.9em;
  font-weight: 600;
}

label > textarea {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  outline: none;
  font-family: ff-main;
  line-height: 1.8;
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  background-color: #f4f4f4;
}
}

.titles{
font-size: 0.9em;
  font-weight: 600;
  margin-top: 10px;
}

.me1{
margin-top: 5px;
border : 1px solid lightgray;
height: 35px;
width : 100%;
border-radius: 5px;
outline: none;
padding: 2px 2px 2px 5px;
}

div.action-group {
margin-top: 2em;
display: flex;
flex-direction: column;
row-gap: 1em;

input[type="reset"] {
  padding: 10px 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  opacity: 0.8;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.btnSubmit{
  border: 2px solid transparent;
  padding: 10px 10px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
  color: white;
  background-color: #61887e;
  transition: all 0.1s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: #55ad84;
      border: 2px solid #166b43;
    }
  }
}
}


