
<div class="container-fluid mb-4">
    <div class="row" >
      <div class="col-md-9">
        <div class="card">
            <div class="card-header">
             <h3>My Orders</h3>
            </div>
          <div class="card-body">
            <div class="col-md-3 tcard" *ngFor="let order of orderList">
                <div class="row">
                <div class="myCard  shadow-sm d-flex  align-items-center rounded">
                    <div class="col-md-1">
                    <img src="https://www.bigbasket.com/media/uploads/p/l/40013625_12-fresho-brown-bread-safe-preservative-free.jpg" width="70" height="70" alt="">
                    </div>&nbsp;&nbsp;&nbsp;
                    <div class="col-md-8">
                        <h5 class="mycol">{{order.productName}}&nbsp;<span style="color: rgb(105, 105, 105); font-size: 14px;">{{order.productWeight}}</span></h5>
                        <p class="mycol">Paid Amount : {{order.amountToBePaid | currency:'INR'}}</p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="mycol">Delivery Date</h5>
                        <p class="mycol">25/06/2024</p>
                        <a href="">See Product Description</a>
                    </div>
                </div>
                </div>
            </div>
          </div>
         
        </div>
      </div>

    </div>
  
  
  </div>
