.myCard{
    border: 1px solid rgb(189, 189, 189);
    background: white;
    padding: 10px 10px 10px 10px;
    
}
.mycol{
    padding-bottom: 5px;
}

.product-Des{
    padding-left: 5px;
   
}
.order-status{
    padding-right: 3px;
    padding-left: 5px;
}

.col-md-9 .card-body {
    max-height: 552px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
  }
 
    
  .form-cmd{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: black;
  }

  .bi-calendar-check{
    font-size: 16px;
  }

.product-card{
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

.container-fluid{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-block{
    background: #61887e;
    color: white;
}
.card-header , .modal-header{
    background: #61887e;
    color: white;
}
.bi-search{
  color:#61887e;
}

a{
  color: #565353;;
  text-decoration: none;
  font-weight: 500;
}
a:hover{
  color:#61887e;
  font-weight: 500;
}
  #tracking {
    margin-bottom: 1rem;
  }
 
  .tracking-list {
    border: 1px solid #e5e5e5;
  }

.timeline{
  position: relative;
  max-width: 300px;
  max-height: 500px;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
}

.containers{
  padding: 10px 20px;
  position: relative;
  width: 94%;

}
.text-box{
  padding: 19px 10px;
  background: white;
  position: relative;
  border-radius: 6px;
  font-size: 16px;
  height: 70px;
}

.left-containers{
  left: 0;
}

.right-containers{
  left: 30%;
}
img{
  color: #618870;
}

.trac{
  position: absolute;
  border-radius: 50%;
  margin-left: -92px;
  margin-top: 10px;
}

.logo{
  font-size: 26px;
  font-weight: 600;
  color:#c0c0c0;
}

.containers img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 30px;
  z-index: 10;

}

.right-containers img{
left: -10px;
width: 20px;

}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: rgb(90, 90, 90);
  top: 0;
  left: 30%;
  margin-left: -3px;
  z-index: -1;
 
}

.timeline1::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline1 2s linear forwards;
}
.timeline2::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline2 2s linear forwards;
}

.timeline3::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline3 2s linear forwards;
}
.timeline4::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline4 2s linear forwards;
}
.timeline5::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline5 2s linear forwards;
}
.timeline6::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 50%;
  background: #618870;
  top: 33px;
  left: 30%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline6 2s linear forwards;
}
.timeLines1::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 82%;
  background: #dadada;
  top: 33px;
  left: 30%;
  margin-left: -3px;
}
.timeLines2::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 58%;
  background: #dadada;
  top: 33px;
  left: 30%;
  margin-left: -3px;
}
@keyframes moveline1 {
  0%{
      height: 0;
  }
  100%{
      height: 10%;
  }
}
@keyframes moveline2 {
  0%{
      height: 0;
  }
  100%{
      height: 32%;
  }
}
@keyframes moveline3 {
  0%{
      height: 0;
  }
  100%{
      height: 50%;
  }
}
@keyframes moveline4{
  0%{
      height: 0;
  }
  100%{
      height: 70%;
  }
}
@keyframes moveline5 {
  0%{
      height: 0;
  }
  100%{
      height: 57%;
  }
}
@keyframes moveline6 {
  0%{
      height: 0;
  }
  100%{
      height: 57%;
  }
}