*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.main-bodys{
   min-height: 100vh;
   background: rgb(228, 228, 228);
}

.container{
    max-width: 1300px;
    padding: 10px 10px 10px 60px;
}

.card{
    min-height: 60vh;
    max-width: 80vh;
    margin-top: 2%;
    border: 1px solid #61887e;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-tabs-bordered {
    border-bottom: 2px solid #ebeef4;
    width: 95%;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #016e2b;
    border-bottom: 2px solid #016e2b;
}

.nav-tabs-bordered .nav-link {
    border: none;
    outline: none;
    color: #2c384e;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.tab-pane{
    margin-top: 2%;
    padding-bottom: 30px;
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity .10s linear;
}

.row {
  padding-top: 8px;
  margin-left: 6%;
}

.label{
    color: #70af88;
    font-weight: 600;
    font-size: 18px;
    margin-top: 3%;
}
.texts{
    margin-top: 3%;
}

.savebutton{
    padding: 5px 5px 5px 5px;
}

.input-leng{
    width: 60%;
    height: 35px;
    border: 1.7px solid #b3b3b3 ;
    border-radius: 5px;
    outline: none;
}
.input-leng:hover{
    border: 2px solid #61887e;
}

.col-form-label{
    color: #61887e;
    font-weight: 500;
}


*/

.content{
    padding-left: 40px;
    padding-right: 40px;
}
.container{
    min-height: 45vh;
    width: 40vw;
    background: white;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 0.5rem;
}

.card-headers{
    margin: 0;
    height: 6vh;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to right, #42655c , rgb(226, 226, 93)); 
    color: white;
}

.war{
    padding-left: 5%;
    padding-right: 5%;
 }

.check{
   height: 24px;
   width: 34px;
   border: #b3b3b3;
}

.deactivate-account{
    width: 150px;
    height: 40px;
    font-weight: 600;
} 




.main{
    background: #a2c0af;
    min-height: 95vh;
}

.card {
    position: relative;
    height: 65vh;
    width: 45vw;
    background-color: #fff;
    border: 0 solid white;
    border-radius: 0.5rem;
    margin-left: 5%;
    top: 50px;
}

.card-header{
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to right, #42655c , rgb(226, 226, 93)); 
    color: white;
}

.card-body {
    padding: 1rem 1.5rem;
}

.row {
    padding-left: 15px;
}

.form-label, .col-form-label {
    text-transform: uppercase;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
    color: #566a7f;
}

.form-control {
    width: 90%;
    padding: 0.4375rem 0.475rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #0b0b0b;
    background: #fff;
    -webkit-box-shadow: none;
    border-color: #a9abaa;
    box-shadow: none;
}

.form-control:hover{
    border-color:#42655c;
}

.form-select{
    width: 90%;
    padding: 0.3375rem 0.475rem;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #0b0b0b;
    background: #fff;
    border-color: #a9abaa;
   -webkit-box-shadow: none;
    box-shadow: none;
}

.form-select:hover{
    border-color:#42655c;
}

input[type="text" i] {
    padding-block:4px;
    padding-inline: 2px;
}

.profbtn{
    margin-left: 3%;
}

.savebtn{
    padding: 6px 6px 6px 6px;
    outline-style: none;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background:#51715f; 
}

.resetbtn{
    padding: 6px 10px 6px 10px;
    outline-style: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background:#c03239; 
}

.Accountdel{
    padding: 6px 10px 6px 10px;
    outline-style: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background: #c03239; 
    margin-left: 2%;
}