<section class="user-address">
 
  <div class="text-end addBtn">
    <button class="btn btn-success text-white bgm" data-bs-toggle="modal" data-bs-target="#addressModal" (click)="addAdressModal()"><i
        class="bi bi-plus"></i> Add New Address</button>
  </div>
  <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide *ngFor="let address of userAddressList">

      <div class="card">
        <h5 class="card-header myheade white-color-text">
          {{address.city}} 
          <span class="address-type text-muted  white-color-text">
            ({{address.typeOfAddress}})
            <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#addressModal" (click)="editAdressModal(address)"></i>
          </span>
        </h5>
        <div class="card-body">
          <p class="card-text">{{address.fullAddress}}, {{address.pincode}}, {{address.state}}, {{address.country}}</p>
        </div>
        <div class="card-footer text-dark white-color-text">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" 
              [checked]="address.isDeliveryAddress ? true : false" #switch (change)="setDeliveryAddress(switch.checked,address.id)">
            <label class="form-check-label">Set as delivery address</label>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>


<div class="modal fade" id="addressModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <form autocomplete="off" [formGroup]="addressForm" (ngSubmit)="addressAddEdit()">
      <div class="modal-content">
        <div class="modal-header cardHeader" >
          <h4 class="modal-title">{{modalHeader}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label for="">Pin Code</label>
              <input type="text" formControlName="pincode" class="form-control" #box onKeyPress="if(this.value.length==6) return false;" (change)="getAddressByPincode(box.value)" >
              <div *ngIf="isFormValid && controls['pincode'].errors">
                <div *ngIf="controls['pincode'].errors['required']" class="text-danger">
                  Pincode is required.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="">State</label>
              <input type="text" readonly="readonly" formControlName="state" class="form-control">
             
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="">City</label>
              <input type="text" readonly="readonly" formControlName="city" class="form-control">
             
            </div>
            <div class="col-md-6">
              <label for="">Country</label>
              <input type="text" readonly="readonly" formControlName="country" class="form-control">
              
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label for="">Full Address</label>
              <textarea formControlName="fullAddress" class="form-control" maxlength="50"></textarea>
              <div *ngIf="isFormValid && controls['fullAddress'].errors">
                <div *ngIf="controls['fullAddress'].errors['required']" class="text-danger">
                  Full address is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label for="">Type of Address</label><br>
              <select class="form-select" formControlName="addressTypeId">
                <option *ngFor="let type of addressTypeList" [value]="type.id">
                  {{type.typeOfAddress}}
                </option>
              </select>
              <div *ngIf="isFormValid && controls['addressTypeId'].errors">
                <div *ngIf="controls['addressTypeId'].errors['required']" class="text-danger">
                  Type of address is required.
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="disableButton ? true : false">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>