<div class="section">
<nav class="navbar navbar-expand-sm navbar-dark ">
  <div class="container-fluid">
    <!-- <a class="navbar-brand fs-4" routerLink="/vendor-dashboard"><img src="../assets/images/logo/AdminEasyLogo.png" class="logoimg" alt=""></a> -->
    <a class="navbar-brand fs-4" routerLink="/vendor-dashboard"><img src="../assets/images/logo/Logo.jpg" class="logoimg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
      </ul>
      <form class="d-flex">
        <!-- <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div> -->
        <div class="dropdown">
          <i class="bi bi-person-circle"></i>
          <div class="dropdown-content">
            <div class="text-center mt-3 username">
              <b><i>Hello</i>, {{userName | titlecase}}</b>
            </div>
            <hr>
            <a><i class="bi bi-person icon"></i>My Account</a>
            <a (click)="Logout()"><i class="bi bi-box-arrow-right icon"></i>Logout</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid myoutlet">
  <router-outlet></router-outlet>
</div>
</div>