<div class="containers">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 fs-5 text-white">
                            Category List
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm" (click)="addCategory()" data-bs-toggle="modal" data-bs-target="#categoryAddEditModal"><b>Add Category</b></button>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-responsive text-center">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Category</th>
                                <th>Packing Mode</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryList;let i = index"  [ngClass]="category.isActive == false ? 'table-danger' : ''">
                                <td>{{i+1}}</td>
                                <td>{{category.categoryName}}</td>
                                @if(category.packingModeId == 1){
                                <td>Kg</td>
                                }
                                @else{
                                <td>Item</td>
                                }
                                @if(category.isActive){
                                <td>Yes</td>
                                }
                                @else{
                                <td>No</td>
                                }
                                <td>
                                    <i class="bi bi-pencil-square" (click)="editCategory(category)" data-bs-toggle="modal" data-bs-target="#categoryAddEditModal"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="categoryAddEditModal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <form autocomplete="off" [formGroup]="categoryForm" (ngSubmit)="categoryAddEdit()">
                    <div class="modal-header">
                        <h4 class="modal-title" *ngIf="!isEdit"> Add Category</h4>
                        <h4 class="modal-title" *ngIf="isEdit"> Update Category</h4>

                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" class="form-control" formControlName="id">

                        <div class="row">
                            <div class="col-12">
                                <label for="">Category Name</label>
                                <input type="text" class="form-control" formControlName="categoryName" maxlength="30">
                                <div *ngIf="isFormValid && controls['categoryName'].errors">
                                    <div *ngIf="controls['categoryName'].errors['required']" class="text-danger">
                                        Category name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="">Packing Mode</label>
                                <input type="radio"  class="form-check-input radio" formControlName="packingMode"
                                    value="Kg"><span>Kg</span>
                                <input type="radio"  class="form-check-input radio" formControlName="packingMode"
                                    value="Item"><span>Item</span>
                                <div *ngIf="isFormValid && controls['packingMode'].errors">
                                    <div *ngIf="controls['packingMode'].errors['required']" class="text-danger">
                                        Packing mode required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="checkbox" class="form-check-input" formControlName="isActive">
                                <label for="">IsActive</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row text-end">
                            <div class="col-12">
                                <button class="btn btn2">Submit</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>