.containers{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    }
    
.bi-pencil-square {
    font-size: larger;
    color: #486860;
}
.bi-trash{
    font-size: larger;
    color: red;
}
.card{
    height: 100%;
    border:hidden
}

.bookmark{
    border: 1px solid gainsboro;
    padding: 5px;
    width: 34px;
    height: 38px;
}
.card-img-top{
    width: 50%;
}
.form-check-input{
    margin-right: 2%;
    border-color: gray;
}

.btn-sm{
    color:#61887e;
    background-color: white;
    margin-left: 6px;
  }
  .btn-sm:hover{
    color:#61887e;
    background-color: white;
    margin-left: 6px;
  
  }
.radio{
    margin-left: 45px;
}

.card-header{
    background:  #61887e;
    font-size: larger;
    font-weight: 500;
}
.btn2{
    background: #61887e;
    color:white
}
.modal-header{
    background: #61887e;
    color: white;
}
th
{
   background:#61887e;
   color: white;
   font-size: 15px;
   font-weight: 600;
}
.table-bordered{
    border:1px solid #61887e;
}