.containers{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    }
    
.bi-pencil-square {
    font-size: larger;
    color: #3b6a5e;
}
.bi-trash{
    font-size: larger;
    color: red;
}
.card{
    height: 100%;
}

.bookmark{
    border: 1px solid gainsboro;
    padding: 5px;
    width: 34px;
    height: 38px;
}
.card-img-top{
    width: 50%;
}
.form-check-input{
    margin-right: 2%;
    border-color: gray;
}
.invalid{
    border-color: red;
}
.btn-sm{
    color:#3b6a5e;
    background-color: white;
    margin-left: 6px;
  }
  .btn-sm:hover{
    color:#3b6a5e;
    background-color: white;
    margin-left: 6px;
  
  }
.radio{
    margin-left: 45px;
}
.modal{
    backdrop-filter: brightness(0.5);
}
.card-header{
    background:  #61887e;
}
.btn2{
    background: #3b6a5e;
    color:white
}
.modal-title{
    color: #3b6a5e;
}