<div class="parents">
    <div class="container">
        <div class="title">Registration</div>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="user_details">
                <div class="input_pox">
                    <span class="datails">Full Name</span>
                    <input type="text" formControlName="name" placeholder="Enter your name">
                    <div *ngIf="isFormValid && controls['name'].errors">
                        <div *ngIf="controls['name'].errors['required']" class="text-danger">
                            Enter your name.
                        </div>
                    </div>
                </div>
                <div class="input_pox">
                    <span class="datails">Email</span>
                    <input type="text" formControlName="email" placeholder="Enter your email">
                    <div *ngIf="isFormValid && controls['email'].errors">
                        <div *ngIf="controls['email'].errors['required']" class="text-danger">
                            Enter your email.
                        </div>
                        <div *ngIf="controls['email'].errors['email']" class="text-danger">
                            Invalid email.
                        </div>
                    </div>
                </div>
                <div class="input_pox">
                    <span class="datails">Mobile Number</span>
                    <input type="text" formControlName="mobile" placeholder="Enter your mobile number">
                    <div *ngIf="isFormValid && controls['mobile'].errors">
                        <div *ngIf="controls['mobile'].errors['required']" class="text-danger">
                            Enter your mobile number.
                        </div>
                        <div *ngIf="controls['mobile'].errors['minlength']" class="text-danger">
                            Mobile number should have 10 digits.
                        </div>
                    </div>
                </div>
                <div class="input_pox">
                    <span class="datails">Password</span>
                    <input type="text" formControlName="password" placeholder="Enter your password">
                    <div *ngIf="isFormValid && controls['password'].errors">
                        <div *ngIf="controls['password'].errors['required']" class="text-danger">
                            Enter your password.
                        </div>
                       
                        <div *ngIf="controls['password'].errors['pattern']" class="text-danger">
                            Password must contain atleast 5 characters, 1 numeric, 1 upper case letter, and 1 special character.
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
            <div class="bar-link">
                <p> Already have an account? <a routerLink="/login">Login Here</a></p>
               </div>
        </form>
    </div>
</div>
